:root {
  /* Light theme variables */
  --light-bg-color: #f0f0f0;
  --light-text-color: #000;
  --light-hover-bg-color: #e0e0e0;
  --light-hover-text-color: #333;

  /* Dark theme variables */
  --dark-bg-color: #333;
  --dark-text-color: #fff;
  --dark-hover-bg-color: #444;
  --dark-hover-text-color: #eee;
}

.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  transition: all 0.3s ease; 
}

.green-filled {
  --bg-color: #00FF00;
  --text-color: #000;
  --border-color: #00FF00;
  --hover-bg-color: var(--dark-bg-color);
  --hover-text-color: var(--dark-text-color);
}

.green-border {
  --bg-color: #000;
  --text-color: #fff;
  --border-color: #00FF00;
}